$color-black: #000;
$color-orange: #d45806;
$color-white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

@mixin space {
  padding: 10px 20px;
  margin: 20px auto;
}
@mixin space-center($justifyContent, $direction) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
  flex-direction: $direction;
}
@mixin image($width, $height) {
  width: $width;
  height: $height;
}

.hero-wrapper {
  background: url("https://images.pexels.com/photos/13391438/pexels-photo-13391438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    center;
  min-height: 50vh;
  @include space-center(center, row);
}
.nav-wrapper {
  padding: 0 20px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
  }
  li {
    padding: 10px 20px;
  }
  a {
    text-decoration: none;
    color: $color-white;
    transition: all 0.4s ease-in-out;
  }
  a:hover {
    color: $color-black;
  }
}
.about-wrapper {
  @include space();
  text-align: center;
  .card-wrapper {
    @include space();
    @include space-center(space-around, row);
  }
  .logos-wrapper {
    @include space();
    .img-logo {
      @include space-center(space-around, row);
    }
  }
}
.hooks-wrapper {
  width: 100%;
  @include space();
  text-align: center;
  .btn {
    margin: 10px 20px;
  }
}
.dynamic-component {
  width: 70%;
  @include space();
}
.form-wraper {
  width: 70%;
  @include space();
  @include space-center(space-evenly, row);
  h1 {
    font-size: 25px;
    @include space();
  }
  img {
    @include image(300px, 100%);
  }
}
